.box-title-intro {
    position: absolute;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    background: white;
    box-shadow: inset 0px -1px 0px #eeeeee;
    z-index: 130;
}

.intro-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 8px 0px;
    width: 100%;
}

.title-intro {
    display: flex;
}

title-intro-desc {
    margin-left: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #616161;
}

.line {
    border-left: solid 2px #c7c7c7;
    margin: 0px 10px;
}

.title-intro-stock {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #616161;
}


.search-stock {
    width: 380px;
    background-color: #f0f0f0;
    height: 44px;
    border-radius: 12px;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.13);
}

.search-stock-input {
    position: relative;
    flex: 7;
    margin-left: 10px;
    margin-right: 10px;
    width: 291px;
}

    .search-stock-input input {
        border: 0px;
        outline: none;
        width: 100%;
    }

.search-stock-btn {
    background-color: #004370;
    height: 28px;
    flex: 1.4;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

    .search-stock-btn .fa-search {
        font-size: large !important;
        color: #f0f0f0;
        width: 46px;
    }

.intro-banner {
    max-height: 360px;
    width: 100%;
    position: relative;
    user-select: none;
    padding-top: 60px;
    overflow: hidden;
}

.next-slide-image {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    z-index: 101;
}

.next-slide-left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.next-left {
    margin-left: 30px;
    animation: scanlf ease-in 0.3s;
}

.circle-next {
    width: 40px;
    height: 40px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    user-select: none;
}

.next-slide-right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
}

.next-right {
    margin-right: 30px;
    animation: scanlf ease-in 0.3s;
}

.intro-banner img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.banner-item {
    animation: banner ease 1.3s;
}

.circle-next .fa-angle-left {
    margin-right: 4px;
    text-shadow: 3px 1px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    color: white;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px / 1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.circle-next .fa-angle-right {
    margin-left: 4px;
    text-shadow: 3px 1px rgba(0, 0, 0, 0.1);
    font-size: 35px;
    color: white;
}

.intro-info {
    width: 100%;
    height: auto;
    background: #e3ecff;
}

.intro-info-title {
    display: flex;
}

.info-title-logo {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 120px;
    height: 120px;
    margin: 20px;
    border-radius: var(--Border-Radius);
    background-color: white;
}

.info-title-content {
    flex: 1;
    margin: 20px 20px 20px 0px;
}

.title-content-name {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 28px;
    color: #c32022;
}
